.container-more-options{
    position: absolute;
    background-color: #c7c7c7;
    margin-left: 380px;

    width: 400px;
    height: 770px;

    margin-top: -768px;
    z-index: 9999;

    transition: 2s;
}

.header-close{
    margin-top: 20px;
    margin-left: 350px;
}

.header-title{
    display: flex;
    flex-direction: row;

    margin-top: 35px;
    margin-left: 35px;
}

.header-title h1{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;

    font-size: 24px;
    font-weight: 300;
}

.container-all-options{
    display: flex;
    flex-direction: column;
    width: 400px;
    cursor: pointer;
}

.container-all-options h1{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;

    height: 38px;

    margin-top: 16px;

    font-size: 18px;
    font-weight: 300;

    margin-left: 35px;
}

.Caixa-de-saida{
    width: 400px;
    margin-top: 26px;
}

.Caixa-de-saida:hover{
    background: #cecdd1;
}

.Caixa-de-entrada{
    margin-top: 5px;
}

.Caixa-de-entrada:hover{
    background: #cecdd1;
}

.arquivo-morto{
    margin-top: 5px;
}

.arquivo-morto:hover{
    background: #cecdd1;
}

.Contatos{
    margin-top: 5px;
}

.Contatos:hover{
    background: #cecdd1;
}

.Historico{
    margin-top: 5px;
}

.Historico:hover{
    background: #cecdd1;
}

.Enviados{
    margin-top: 5px;
}

.Enviados:hover{
    background: #cecdd1;
}

.Excluidos{
    margin-top: 5px;
}

.Excluidos:hover{
    background: #cecdd1;
}

.Lixo{
    margin-top: 5px;
}

.Lixo:hover{
    background: #cecdd1;
}

.Rascunhos{
    margin-top: 5px;
}

.Rascunhos:hover{
    background: #cecdd1;
}

.more-icon-close{
    width: 18px;

    cursor: pointer;
}

.more-options-add{
    width: 20px;
    margin-left: 110px;

    cursor: pointer;
}

.display-none{
    display: none;
}

